.circle-image{

  position: absolute;
  top:15%;
  border-radius: 50%;
  left:18%;
  height:40%;
  width:20%;

}

.titleA{
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  margin-top: 5%;
  font-weight: bold;
}
.mt75{
	margin-top:75%;
}
		
.animator{
  animation:slide .15s 1 ease-in;
}

.aboutMe{
  line-height: 1.5;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 5%;

}

.detailCon{
  border: 2px solid #f4f4f4;
}

.detCon{
  border: 2px solid #f4f4f4;
  margin-left: 20%;
  margin-top: 75%;
}






@media screen and (max-width:580px){

  .detCon{
    margin-left:0%;
  }

  .aboutMeCon{
    margin-top:10%;
    font-size: 13px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 100px !important;

  }

  .circle-image{
      position: absolute;
      top:13% !important;
      left:24%;
      height:200px !important;
      width:200px !important;
  }

}



@keyframes slide{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
