.circle-image{
  border-radius:50%;
  width:50%;
  height:50%;
  margin-left: 25%;
  margin-top: 5%;
}
.jumbo{
  border:2px solid #f4f4f4;
  margin-top: 3%;
  padding: 5px;
}
.titleA{
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  margin-top: 5%;
  font-weight: bold;
}
.animator{
  animation:slide .15s 1 ease-in;
}

@keyframes slide{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.detCon{
  border: 2px solid #f4f4f4;
  padding-left:10px;
  padding-right: 10px;
  margin-left: 20%;
}
@media screen and (max-width:480px){
  .detCon{margin-left:10%;}
  .aboutMeCon{
    margin-top:10%;
    font-size: 13px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 100px !important;

  }
  .circle-image{
    width:300px;
    height:550px;
    margin-left: 20%;

  }

}
.aboutMe{
  line-height: 2;
  padding-right: 40px;
    padding-left: 40px;
    margin-top: 5%;



}
.detailCon{
  border: 2px solid #f4f4f4;
}
