

.appDetailL{
  width:30%;
  float: left;
  margin-left: 10%;
}

.cornerBox{
  width:5%;
  position: absolute;
  right:5%;
  height:15%;
  top:15%;
  border:2px solid groove purple;
  border-radius:10px;
}

@media screen and (max-width:408px){
  .languageIcons{
      margin-left: 5% !important
  }
}
.o5{
  opacity:.5;
}
.cornerLogo{
  width:90%;
  margin-left: 5%;
  margin-top: 20%;
}

.appBackgroundMo{
  height:170px;
  border:2px solid black;
  border-radius:10px;
}

.appBackground{
  background:black;
  border-radius:5px;
  width:100%;
  height:70%;
}

.appBox{
  width:80%;
  margin-left:10%;
  border:2px solid black;
  top:10px;
  position:relative;
  float:left;
  margin-top: 2.5%;
  padding:0;
  background:black;
  color:#f4f4f4;
  border-radius:10px;
  padding-bottom:20px !important;
}

.appBox:hover{
  color:white;
  background:black;
  top:-10px;
  border-color: red;
  animation :goUp 1 ease-in .2s;
  color:red;
}


.appLogo{
  width:90% !important;
  margin-left: 5% !important;
  margin-top: 15%;
}
.diffSeg{
  width:10%;
}

.diffBox{
  border-radius: 3px;
  margin-top: 5%;
}

.appBoxM{
  float:left;
  width:50%;
  border:1px solid white;
  border-radius:10px;
}

.languageBoxer{
  margin-left: 42.5%;
  width:30%;
}



.appLogoM{
  width:75%;
  margin-left: 10%;
  margin-top: 5%;
}

.appBackgroundM{
  height:200px;
  border-radius:10px;
}

.backArrowDesktop{
  position:absolute;
  left:5%;
  top:15%;
  width:60px;
  height:50px;
}

.backArrow{
  width:40px;
  height:40px;
  margin-top: 5%;
}

.animator{
  animation:slide .14s 1 ease-in;
}

/*-----------------------Animations----------------------*/

@keyframes slide{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }

}

.diff0{
  animation: .1s ease-in ghoster 1;
  background: #cc2900;
}

.diff1{
  animation: .15s ease-in ghoster 1;
    background:#e62e00;
}

.diff2{
  animation: .20s ease-in ghoster 1;
    background:#e62e00;
}

.diff3{
  animation: .25s ease-in ghoster 1;
    background: #ff3300;
}

.diff4{
  animation: .3s ease-in ghoster 1;
    background: #ff471a;
}

.diff5{
  animation: .35s ease-in ghoster 1;

    background: #ff5c33;
}

.diff6{
  animation: .40s ease-in ghoster 1;
    background: #ff704d;
}

.diff7{
  animation: .45s ease-in ghoster 1;
    background: #ff8566;
}

.diff8{
    animation: .50s ease-in ghoster 1;
    background: #ff9980;
}

.diff9{
    background: #ffad99;
    animation: .55s ease-in ghoster 1;
}

.diff10{
    background: #ffc2b3;
    animation: .60s ease-in ghoster 1;
}

@keyframes ghoster{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}


/*------------------------------------------------*/
