.bb{
  background:black;
}
.container-fluid{
  padding:0;
}
.appBox{
  float:left;
  margin-top: 2.5%;


  padding:0;
}
.arrowB{
  left:5%;
  top:4%;
  position: absolute;
  width:4%;


}
.pad1090{
  padding-bottom:10000px;
}
.appBoxM{
  float:left;
  width:50%;
  border-radius:10px;

}
.appLogoM{
  width:75%;
  margin-left: 10%;
  margin-top: 5%;
}
.appBackgroundM{
  height:200px;
  border-radius:10px;
}
.appNamerM{
  text-align: center;
  color:white;
}
.loaderC{
  width: 50%;
  margin-left: 25%;
}
.animator{
  animation:slide .14s 1 ease-in;
}
@keyframes slide{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.appBox{
  border-color:white;
}
.row2{
  margin-top:1%;
}
.btns{
  background: #262626;
  color:white;
  margin-top: 10%;
}
.currentNamer{
  text-align: center;
  margin-top: 7.5%;
  font-family: monospace;
}
.appDetailL{
  width:30%;
  float: left;
  margin-left: 10%;

}
.appBox{
  background:black;
  color:#f4f4f4;
}
.appBox:hover{
  color:red;
}

.bcc{
  color:black !important;
}
.navbarAppC{
  background: black;
}
.languagesL{
  width:20%;
  margin-left: 5%;
 float: left;
}
.languageLC{
  width: 100%;

}
.appTitle{
  color:#f4f4f4;
}
.diffBox{
  width:50%;
  margin-left: 25%;
  background:black;
  border-radius: 3px;
  height:20px;
  margin-top: 5%;
}
.btns{
  margin-left: 25%;
  width:50%;
  margin-top: 8%;

}
.lll{
  float: left;
  margin-left: 4%;
  font-size: 10px;
  font-weight:490;
}
.cornerBox{
  width:5%;
  position: absolute;
  right:5%;
  height:15%;
  top:15%;
  border:2px solid groove purple;

  border-radius:10px;


}
.diffSeg{
  height:20px;
  width:10%;
  background:red;
  border:2px solid black;
  float: left;
}
.jumboRow2{
  margin-top: 15%;
  width:100%;
}
.languageBoxer{
  margin-left: 42.5%;
  width:30%;
}
.cornerLogo{
  width:90%;
  margin-left: 5%;
  margin-top: 20%;
}

.lister{
  margin-left: 15%;

}
.titleCurrent{

  text-align: center;
}
.jumbotrons{
  margin-left: 25%;
  border:3px purple groove !important;

}
.howToPlay{
  text-align: center;
  font-family: monospace;
}
.lll{
  text-align: center;
  margin-left: 20%;
}
.how{
  margin-top: 5%;
  font-size:20px;

  font-family: monospace;
}

.diff0{
  animation: .1s ease-in ghoster 1;
  background: #cc2900;
}
.diff1{
  animation: .15s ease-in ghoster 1;
    background:#e62e00;
}
.diff2{
  animation: .20s ease-in ghoster 1;
    background:#e62e00;
}
.diff3{
  animation: .25s ease-in ghoster 1;
    background: #ff3300;
}
.diff4{
  animation: .3s ease-in ghoster 1;
    background: #ff471a;
}
.diff5{
  animation: .35s ease-in ghoster 1;

    background: #ff5c33;
}
.diff6{
  animation: .40s ease-in ghoster 1;
    background: #ff704d;
}
.diff7{
  animation: .45s ease-in ghoster 1;
    background: #ff8566;
}
.diff8{
  animation: .50s ease-in ghoster 1;
    background: #ff9980;
}
.diff9{
    background: #ffad99;
  animation: .55s ease-in ghoster 1;
}
.diff10{
    background: #ffc2b3;
  animation: .60s ease-in ghoster 1;
}
@keyframes ghoster{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.appNamer{
  font-size: 14px;
  margin-top: 15%;
  text-align: center;
}
.appBackground{
  background:black;
  border-radius:5px;
  width:100%;
  height:70%;
}
.appLogo{
  width:90% !important;
  margin-left: 5% !important;
  margin-top: 15%;

}
.gem{
  width:50% !important;
  margin-left: 25% !important;
}
.codexL{
  width:80% !important;
  margin-left: 10% !important;
}
.subL{
  width:80% !important;
  margin-left: 10% !important;
  margin-top: 10% !important;

}
