/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  opacity:1;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav p:hover{
  background:#f4f4f4;
  color:black !important;
}

.dffm{
  width:15px;
  height:20px;
  border:1px solid black;
  float:left;
  background:red !important;
}

.profileImg{
  width:50%;
  margin-left: 25%;
}
/* The navigation menu links */
.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f4f4f4 ;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav p:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: -1%;
  color:white;
  right: 25px;
  font-size: 26px;
  margin-left: 70px;
}

.menuIC{
  position: absolute;
  top:3%;
  left:5%;
}

.appBackgroundMo:hover{
  border-color:orange !important;
}

.menuBarI{
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
