.w100{
  width:100%;
}

.mt10{
  margin-top: 10%;
}

.text-center{
  text-align: center;
}

.pb100px {
  padding-bottom: 100px !important;
}
.mono{
  font-family: monospace;
}
.segs{
  float:left;height:20px;width:20px;border:2px solid black;background:red
}
.fl{
  float:left;
}
.f13{
  font-size:13px !important;
}
.mt5{
  margin-top:5%;
}
.pb10{
  padding-bottom:10%;
}
.bold{
  font-weight: bold;
}
.divider{
  height:30px;
  width:100%;
}
.h100{
  height:100%;
}
.w200px{
  width:200px !important;
}
.rb{
  background:red !important;
}
.h30px{
  height:30px;
}
.f17{
  font-size: 17px;
}
.bb{
  background:black;
}
.w7px{
  width:7px;
}

.cw{
  color:white;
}
.ml15{
  margin-left:15%;
}

.purpleE{
  border:2px solid purple;
  color:purple;
}

.bWW{
  border:2px solid white;
}

.turnRedE:hover{
    color:red !important;
    border-color:red !important;
}
